src/input.css
styles.css
src/js/script.min.js
sw.js
dist/
dist
venv/
node_modules/
logs/
.lighthouseci/
src/config/lh_counter.json
public/imagens/
public/fonts/
public/icons/
*.png
*.jpg
*.jpeg
*.webp
*.avif
*.ico
*.woff2
*.woff
