name: Update SEO Ratings

on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches:
      - main
    paths:
      - 'index.html'
      - 'fotos.html'
      - 'styles.css'
      - 'src/script.js'
      - 'update_ratings.py'
  workflow_dispatch:

jobs:
  update-ratings:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.PAT_TOKEN }}
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'pip'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Update Script
      env:
        GCP_API_KEY: ${{ secrets.GCP_API_KEY }}
        PLACE_ID: ${{ secrets.PLACE_ID }}
      run: python update_ratings.py

    - name: Commit and Push if changed
      run: |
        git config --global user.name 'SEO Bot'
        git config --global user.email 'seobot@repsantograu.online'
        git add .
        git diff --quiet && git diff --staged --quiet || (git commit -m "chore(seo): update script" && git push)